DATABASE_URL="mysql://root@localhost:3306/fincontrol"
JWT_SECRET="seu_secret_aqui"
JWT_REFRESH_SECRET="seu_refresh_secret_aqui"
PORT=3333
NODE_ENV=development
FRONTEND_URL="https://seu-projeto.vercel.app"
