DATABASE_URL="postgresql://postgres:[PASSWORD]@db.xxxxxxxxxxxx.supabase.co:5432/postgres"
JWT_SECRET="seu_secret_aqui"
JWT_REFRESH_SECRET="seu_refresh_secret_aqui"
PORT=3333
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"
